<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{36} %X{sourceThread} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="REMOTE" class="net.logstash.logback.appender.LogstashSocketAppender">
        <host>logging-server</host>
        <port>5000</port>
        <customFields>{"stack":"creator", "service":"plugin-dedicated-zenka-repeated-loan", "environment":${DEPLOY_ENVIRONMENT}, "type":"backend-service", "version": "0.3"}</customFields>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="REMOTE"/>
    </root>
</configuration>
